@font-face {
  font-family: 'Messapia-bold';
  src: local('Messapia-bold'),
    url('../../public/fonts/Messapia-Bold.woff2') format('woff2'),
    url('../../public/fonts/Messapia-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Messapia-bold', fallback-fonts, sans-serif !important;
  font-size: 25px;
  color: #222222;
}
