:root {
}

@font-face {
  font-family: 'Messapia-bold';
  src: local('Messapia-bold'),
    url('../../public/fonts/Messapia-Bold.woff2') format('woff2'),
    url('../../public/fonts/Messapia-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#hero {
  width: 100%;
  height: 80vh;
  /* border: 1px solid cyan; */
  text-align: center;
  position: relative;
  background-size: cover;
  /* z-index: 1; */
}

#hero-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  background-size: cover;

  /* clip-path: polygon(33% 4%, 63% 0, 86% 5%, 100% 37%, 83% 75%, 51% 81%, 22% 79%, 3% 65%, 6% 33%, 28% 23%); */
}

#hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url('../assets/splash.png');
  background-position: center;
  mix-blend-mode: screen;
  opacity: 0.3;
}
#header {
  align-content: space-between;
  height: 77px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  left: 0;
  background: #fff;
  color: #000;
  border-bottom: 1px solid rgba(131, 54, 255, 0.1);
  padding-left: 5%;
  padding-right: 5%;
}

#logo {
  color: #000;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  border: none;
}

#connect-wallet {
  width: 180px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 10px;
  font-family: 'Messapia-bold', fallback-fonts, sans-serif !important;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

a {
  margin-left: 30px;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  cursor: pointer;
  transition: border 1.5s ease;
}

#link-containers a {
  border-radius: 30px;
  font-family: 'Messapia-bold', fallback-fonts, sans-serif !important;
  font-size: 14px;
}

#header-text-first {
  margin-top: 90px;
  font-size: 56px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  font-family: 'Rock Salt', cursive;
}

#header-text-second {
  font-size: 56px;

  color: #ffffff;
  font-family: 'Rock Salt', cursive;
  margin-top: 30px;
}

#header-subtext {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px;
  font-size: 18px;
  color: #666c70;
  margin-top: 20px;
}

/*#666C70*/

#hero-buttons {
  /* border:1px solid red; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  left: calc(50% - 100px);
}

button#explore {
  width: 180px;
  border-radius: 5px;
  font-size: 21px;
  border: none;
  font-family: 'Messapia-bold', fallback-fonts, sans-serif !important;
  background: none;
  color: #000;
  cursor: pointer;
  border: 2px solid #000;
  padding-top: 15px;
  padding-bottom: 10px;
}

button#create {
  width: 180px;
  height: 50px;
  margin-left: 20px;
  border-radius: 30px;
  font-size: 21px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 978px) {
  a:not(#logo) {
    font-size: 12px;
    padding: 5px;
  }
  button#connect-wallet {
    display: none;
  }

  #logo {
    padding: 5px;
    margin-top: 1px;
  }

  #logo h1 {
    font-size: 12px;
  }

  #hero {
    height: 0;
    margin-top: 80px;
    /* border: 1px solid cyan; */
    text-align: center;
  }

  #header {
    height: 100px;
    /* border: 0.001px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
  }

  #header-text-first {
    margin-top: 90px;
    font-size: 36px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-family: 'Rock Salt', cursive;
  }

  #header-text-second {
    font-size: 36px;

    color: #ffffff;
    font-family: 'Rock Salt', cursive;
    margin-top: 20px;
  }

  #header-subtext {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px;
    font-size: 15px;
    color: #666c70;
    margin-top: 20px;
  }

  #hero-buttons {
    /* border:1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  button#explore {
    width: 180px;
    height: 40px;
    margin-right: 5px;
    border-radius: 30px;
    border: none;
    font-family: 'Messapia-bold', fallback-fonts, sans-serif !important;
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #38ef7d,
      #11998e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #38ef7d,
      #11998e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #000;
    cursor: pointer;

    transition: background 1s, border-color 1s;
  }

  button#create {
    width: 180px;
    height: 40px;
    margin-left: 5px;
    border-radius: 30px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #100f17;
    border: 1px solid #696969;

    font-weight: 600;
    color: #696969;
    cursor: pointer;
  }
}

button#explore:hover {
  background: rgb(131, 54, 255);
  border-color: rgb(131, 54, 255);
  color: #fff;
}

/* @keyframes borderAnimation {

  0% {
    border-left: 1px solid red;
    
  }

  50%{
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    
  }
  100%{

  }
} */
